{% extends "templates/maestra.html" %}
{% block enlaces  %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/carrito_de_compras.css') }}">

{% endblock %}
{% block titulo %}  Carrito de Compras  {% endblock %}
{% block contenido %}
    <main style="margin-top: 20px;">

        <h4 id="titulo-carrito-de-compras"><b>Carrito de Compras</b></h4>

        <!-- Mostrar si hay productos agregados -->

        <div id="contenedor-mostrar-hay-productos"> <!--Contenedor que se muestra o no (si es que hay productos)-->
            <div id="contenedor-carrito-de-compras"> <!--Contenedor del carrito en sí-->
                <div id="contenedor-mi-pedido"> <!-- color blanco -->
                    <h4><b>Mi pedido</b></h4>
                </div>

                <div id="contenedor-cuerpo-carrito"> <!-- color amarillo -->
                    <div id="contenedor-contenedor-cuerpo-carrito">
                        <div id="contenedor-productos">
                        </div>
                            <div id="contenedor-direccion-envio--tipo-de-entrega">
                                <div id="contenedor-direccion-envio">
                                    <h6><b><u>Ingresa tu dirección de envío</u></b></h6>
                                </div>
                                <div class="cont-cbo-box">
                                    <h6 class="dep"><b>Departamento:</b></h6>
                                    <select onchange="" name="departamento"  id="cbobox-departamento" onclick="mostrar_provincias()">
                                        <option value=""></option>
                                        {%  for departamento in departamentos %}
                                        <option>{{ departamento[1] }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                                <div class="cont-cbo-box">
                                    <h6 class="prov"><b>Provincia:</b></h6>
                                    <select id="mostrar_provincias"  name="provincia" onclick="mostrar_distritos()">
                                    </select>
                                </div>
                                <div class="cont-cbo-box">
                                    <h6 class="dist"><b>Distrito:</b></h6>
                                    <select name="cbobox-distrito" id="distrito" >
                                    </select>
                                </div>
                                <div class="cont-input-text">
                                    <h6 class="dep"><b>Avenida/Calle/Jirón:</b></h6>
                                    <input class="form-control me-5" type="text" name="text-avenida-calle-jiron"
                                        id="text-avenida-calle-jiron">
                                </div>
                                <div class="cont-input-text">
                                    <h6 class="dep"><b>Dpto/Interior/Piso/Lote/Bloque (opcional):</b></h6>
                                    <input class="form-control me-5" type="text" name="text-dpto-int..." id="text-dpto-int">
                                </div>
                                <label id="lbl-tipo-de-entrega" for="">Tipo de entrega: <b>A domicilio</b></label>
                            </div>
                            <form action="/pago_de_productos">
                                <a onclick="guardardi()"  id="btn-continuar-compra-carrito" >Continuar con mi compra</a>
                            </form>

                        </div>
                </div>
           

            </div>
        </div>

        <!-- Mostrar si no hay productos agregados -->

        <div class="container" id="contenedor-mostrar-no-hay-productos">
            <img src="{{ url_for('static', filename='img/img-carrito-de-compras-mostrar-no-hay-productos.png') }}"
                id="img-carrito-de-compras-mostrar-no-hay-productos" alt="">
            <h4 id="titulo-no-has-agregado-productos"><b>Ups, aún no has agregado productos al carrito de compras :3</b>
            </h4>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/carrito-de-compras.js') }}"></script>
{% endblock %}