{% extends "templates/maestra.html" %}
{% block enlaces  %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/carrito_de_compras.css') }}">

{% endblock %}
{% block titulo %}  Carrito de Compras  {% endblock %}
{% block contenido %}
    <main style="margin-top: 20px;">

        <h4 id="titulo-carrito-de-compras"><b>Carrito de Compras</b></h4>

        <!-- Mostrar si hay productos agregados -->

        <div id="contenedor-mostrar-hay-productos"> <!--Contenedor que se muestra o no (si es que hay productos)-->
            <div id="contenedor-carrito-de-compras"> <!--Contenedor del carrito en sí-->
                <div id="contenedor-mi-pedido"> <!-- color blanco -->
                    <h4><b>Mi pedido</b></h4>
                </div>
                <div id="contenedor-cuerpo-carrito"> <!-- color amarillo -->
                    <div id="contenedor-contenedor-cuerpo-carrito">
                        <div id="contenedor-productos">
                            <!-- Tu código Jinja para mostrar productos -->
                        </div>
                        <div id="contenedor-direccion-envio--tipo-de-entrega">
                            <!-- Tu código Jinja para mostrar dirección de envío -->
                        </div>
                        <a href="{{ url_for('pago_de_productos') }}" id="btn-continuar-compra-carrito">Continuar con mi compra</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mostrar si no hay productos agregados -->

        <div class="container" id="contenedor-mostrar-no-hay-productos">
            <img src="{{ url_for('static', filename='img/img-carrito-de-compras-mostrar-no-hay-productos.png') }}"
                id="img-carrito-de-compras-mostrar-no-hay-productos" alt="">
            <h4 id="titulo-no-has-agregado-productos"><b>Ups, aún no has agregado productos al carrito de compras :3</b>
            </h4>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/carrito-de-compras.js') }}"></script>
{% endblock %}