<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos-globales.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrito_de_compras.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_point_roo.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mostrar-menu-lateral.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/velocity-animate@2.0.3/velocity.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <title>Carrito de Compras</title>
</head>

<body>
    <header id="contenedor-header" class="color-header">
        <a href="index.html"><img id="logo_tienda" src="{{ url_for('static', filename='img/logo_point_roo.png') }}" alt="logo de point roo"></a>
        <button onclick="mostrarMenuLateral()" id="btn-menu">
            <img id="img-menu" src="{{ url_for('static', filename='img/menu.png') }}" alt="">
        </button>
        <input id="barra-busqueda" class="form-control me-5" type="search" placeholder="Buscar productos..."
            aria-label="Search">
        <button onclick="abrirVentanaModalInicioDeSesion()" id="btn-iniciar-sesion" target="_blank">
            <img id="logo-inicio-sesion" src="{{ url_for('static', filename='img/logo-inicio-sesion.png') }}" alt="inicio de sesion">
            <b>Iniciar Sesión</b>
        </button>
        <a id="contenedor-carrito" href="carrito_de_compras.html" target="_blank">
            <img id="carrito-de-compras" src="{{ url_for('static', filename='img/logo-carrito-de-compras.png') }}" alt="">
        </a>
    </header>

    <div class="barra_separadora">

    </div>
    <main style="margin-top: 20px;">

        <h4 id="titulo-carrito-de-compras"><b>Carrito de Compras</b></h4>

        <!-- Mostrar si hay productos agregados -->

        <div id="contenedor-mostrar-hay-productos"> <!--Contenedor que se muestra o no (si es que hay productos)-->
            <div id="contenedor-carrito-de-compras"> <!--Contenedor del carrito en sí-->
                <div id="contenedor-mi-pedido"> <!-- color blanco -->
                    <h4><b>Mi pedido</b></h4>
                </div>
                <div id="contenedor-cuerpo-carrito"> <!-- color amarillo -->
                    <div id="contenedor-contenedor-cuerpo-carrito">
                        <div id="contenedor-productos">
                            <!-- Tu código Jinja para mostrar productos -->
                        </div>
                        <div id="contenedor-direccion-envio--tipo-de-entrega">
                            <!-- Tu código Jinja para mostrar dirección de envío -->
                        </div>
                        <button onclick="irPaginaPagoDeProductos()" id="btn-continuar-compra-carrito">Continuar con mi
                            compra</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mostrar si no hay productos agregados -->

        <div class="container" id="contenedor-mostrar-no-hay-productos">
            <img src="{{ url_for('static', filename='img/img-carrito-de-compras-mostrar-no-hay-productos.png') }}"
                id="img-carrito-de-compras-mostrar-no-hay-productos" alt="">
            <h4 id="titulo-no-has-agregado-productos"><b>Ups, aún no has agregado productos al carrito de compras :3</b>
            </h4>
        </div>
    </main>
    
    <!-- Tu código HTML para el footer -->

    <!-- Menú de barra lateral: -->

    <div class="container-menu">
        <div class="categorias-titulo">
            <b>Categorías</b>
            <button onclick="mostrarMenuLateral()" class="button-x"><b>Cerrar X</b></button>
        </div>
        <div class="cont-menu">
            <nav>
                <a href="moda_hombre.html" target="_blank">Moda Hombre</a>
                <a href="moda_mujer.html" target="_blank">Moda Mujer</a>
                <a href="moda-niños.html" target="_blank">Moda Niños</a>
                <a href="calzado.html" target="_blank">Calzado</a>
            </nav>
        </div>
    </div>

    <div id="ventana-modal-inicio-sesion">
        <!-- Tu código HTML para la ventana modal de inicio de sesión -->
    </div>

    <script src="{{ url_for('static', filename='js/carrito-de-compras.js') }}"></script>
</body>

</html>
