{% extends "templates/maestra.html" %}
{% block enlaces  %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pago_de_productos.css') }}">
<script src="{{ url_for('static', filename='js/pago-de-productos.js') }}"></script>
{% endblock %}
{% block titulo %}  Pago de productos  {% endblock %}
{% block contenido %}
    <main>
        <div id="cont-main-pago-prod">
            <h4 style="margin-bottom: 40px;"><b>¡Estás a un paso de completar tu pedido!</b></h4>
            <div id="cont-elegir-medio-pago">
                <div id="cont-titulo-elige-medio-pago">
                    <h5><b>Elige tu medio de pago</b></h5>
                </div>
                <div>
                    <div id="cont-btns-medios-pago">
                        <button class="btn-medio-pago" onclick="cambiarColor(this)"><img class="img-fluid"
                                src="{{ url_for('static', filename='img/logo-visa.png') }}" alt=""></button>
                        <button class="btn-medio-pago" onclick="cambiarColor(this)"><img class="img-fluid"
                                src="{{ url_for('static', filename='img/logo.yape.png') }}" alt=""></button>
                        <button class="btn-medio-pago" onclick="cambiarColor(this)"><img class="img-fluid"
                                src="{{ url_for('static', filename='img/logo-plin.png') }}" alt=""></button>
                    </div>
                </div>
                <div id="cont-datos-bancarios">
                    <h5 style="text-align: center;"><b>Ingresa tus datos bancarios</b></h5>
                    <div id="cont-datos-tarjeta">
                        <div id="cont-num-tarjeta">
                            <h6><b>N°: </b></h6>
                            <input oninput="checkInput(this, 'num2')" class="input-num-tarjeta" type="number" name="num1" id="num1" maxlength="4">
                            <p>-</p>
                            <input oninput="checkInput(this, 'num3')" class="input-num-tarjeta" type="number" name="num2" id="num2" maxlength="4">
                            <p>-</p>
                            <input oninput="checkInput(this, 'num4')" class="input-num-tarjeta" type="number" name="num3" id="num3" maxlength="4">
                            <p>-</p>
                            <input oninput="checkInput(this, 'fec1')" class="input-num-tarjeta" type="number" name="num4" id="num4" maxlength="4">
                        </div>
                        <div id="cont-fech-venc-tarjeta">
                            <h6><b>Fecha venc.: </b></h6>
                            <input oninput="checkInput(this, 'fec2')" class="input-fech-venc" type="number" name="fec1" id="fec1" maxlength="2">
                            <p>-</p>
                            <input oninput="checkInput(this, 'cvv')" class="input-fech-venc" type="number" name="fec2" id="fec2" maxlength="2">
                        </div>
                        <div id="cont-cvv-tarjeta">
                            <h6><b>CVV: </b></h6>
                            <input class="input-cvv" type="number" name="cvv" id="cvv" maxlength="3">
                        </div>
                    </div>
                    <div id="cont-chckbox">
                        <input type="checkbox" class="form-check-input" id="chckbox-guardar-tarjeta">
                        <label id="lbl-he-leido" class="form-check-label" for="exampleCheck1">Guardar esta tarjeta para
                            futuras compras</label>
                    </div>
                    <button onclick="mostrarResumenPedido()" id="btn-continuar-pago">Continuar</button>
                </div>
            </div>

            <!-- Segundo contenedor -->
            <div id="contenedor-mostrar-hay-productos">
                <div id="contenedor-carrito-de-compras"> <!--Contenedor del carrito en sí-->
                    <div id="contenedor-mi-pedido"> <!-- color blanco -->
                        <h4><b>Resumen de tu pedido</b></h4>
                    </div>
                    <div id="contenedor-cuerpo-carrito"> <!-- color amarillo -->


                        <div id="contenedor-contenedor-cuerpo-carrito">
                            <div id="contenedor-productos">
                            </div>
                            <div id="contenedor-direccion-envio--tipo-de-entrega">
                                <div id="contenedor-direccion-envio">
                                    <!-- <h6><b>Dirección de entrega: </b>Dirección abc</h6> -->
                                </div>
                                <div id="contenedor-tarjeta">
                                    <!-- <h6><b>Tarjeta: </b></h6>
                                    <h6>VISA N° 1234 - 5678 - 9012 - 3456</h6> -->
                                </div>
                                <div id="cont-chckbox-yo-recibire">
                                    <input type="checkbox" class="form-check-input" id="chckbox-recibire-yo"
                                        onclick="manejarCheckbox(this)">
                                    <label id="lbl-he-leido" class="form-check-label" for="exampleCheck1"><i>Yo recibiré
                                            el pedido</i></label>
                                </div>
                                <div id="cont-chckbox-recibira-otro">
                                    <input type="checkbox" class="form-check-input" id="chckbox-recibira-otra-persona"
                                        onclick="manejarCheckbox(this)">
                                    <label id="lbl-he-leido" class="form-check-label" for="exampleCheck1"><i>Lo recibirá
                                            otra persona:</i></label>
                                </div>
                            <form action="/transaccion_pedido">
                                <input type="hidden" id="datosLocalStorageInput" name="datosLocalStorage">
                                <div style="margin-bottom: 20px;" id="cont-dni-receptor-pedido">
                                    <h6><b name="dni">DNI del receptor del pedido:</b></h6>
                                    <input id="input-dni-cliente-pago" class="inpt-dni-ape-nom" type="text">
                                </div>
                                <div id="cont-ape-nom-receptor-pedido">
                                    <h6><b name="nombres">Apellidos y nombres:</b></h6>
                                    <input id="input-dni-nomApe-cliente" class="inpt-dni-ape-nom" type="text">
                                </div>
                            </div>
                            <button onclick="abrirVentanaModalPagoConfirmado()" id="btn-confirmar-pago">Confirmar
                                pago</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Segundo contenedor (fin) -->
        </div>
    </main>
    <div id="cont-pago-realizado">
        <div id="cont-pago-realizado-titulo">
            <h5 style="margin-top: auto;"><b>!Enhorabuena!</b></h5>
            <button onclick="cerrarVentanaPagoRealizado()" id="btn-cerrar-ventana-pago-realizado">X</button>
        </div>
        <div id="cont-pago-realizado-contenido">
            <h6 style="margin-top: 10px;">Tu pago ha sido procesado</h6>
            <h6>Gracias por tu compra :)</h6>
            <div id="cont-btns-pago-realizado">
                <button id="btn-seguir-comprando-pagoProd" onclick="cerrarVentanaPagoRealizado()" class="btn-ventana-pago-realizado">Seguir comprando</button>
                <button id="btn-ir-pagina-de-inicio" onclick="irPaginaDeInicio()" class="btn-ventana-pago-realizado">Ir a la página de inicio</button>
            </div>
        </div>
    </div>
{% endblock %}