{% extends "templates/maestra.html" %}
{% block enlaces  %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro_de_usuario.css') }}">
<script src="{{ url_for('static', filename='js/registro-de-usuario.js') }}"></script>

{% endblock %}
{% block titulo %}  Registro de Usuario  {% endblock %}
{% block contenido %}
<section>
    <div id="contenedor-contenido-registro">
        <div id="contenedor-titulo-subtitulo-registro">
            <h3 id="titulo-no-estas-registrado">¿No estás registrado?</h3>
        </div>
        <p id="subtitulo">Regístrate y disfruta de una experiencia de compra más rápida.</p>
        <div id="contenedor-fila-2">
            <div id="contenedor-beneficios">
                <img id="img-registro" src="{{ url_for('static', filename='img/inicioSesio.jpg.png') }}" class="img-fluid" alt="...">
                <h3 id="tilu.h3" style="text-align: center; margin-top: 20px; font-weight: bold;">Beneficios de tener una cuenta</h3>
                <div id="contenedor-beneficios-estrellas">
                    <div class="contenedor-icono-estrella-beneficio">
                        <img class="icon-star" src="{{ url_for('static', filename='img/icon-estre.png') }}" alt="">
                        <p class="titulo-beneficio">Tener acceso exclusivo</p>
                    </div>
                    <div class="contenedor-icono-estrella-beneficio">
                        <img class="icon-star" src="{{ url_for('static', filename='img/icon-estre.png') }}" alt="">
                        <p class="titulo-beneficio">Comprar en un clic</p>
                    </div>
                    <div class="contenedor-icono-estrella-beneficio">
                        <img class="icon-star" src="{{ url_for('static', filename='img/icon-estre.png') }}" alt="">
                        <p class="titulo-beneficio">Revisar tu historial de compras</p>
                    </div>
                    <div class="contenedor-icono-estrella-beneficio">
                        <img class="icon-star" src="{{ url_for('static', filename='img/icon-estre.png') }}" alt="">
                        <p class="titulo-beneficio">Guardar y actualizar tus datos o direcciones</p>
                    </div>
                </div>
            </div>
            <div id="contenedor-formulario-registro">
                <h4 id="titulo-complete-formulario">Complete el siguiente formulario</h4>
                <form id="formulario" action="registrarusuario" method="post">
                    <input type="text" value="2" name="tipo" hidden>
                    <div class="cont-lbl-input">
                        <label for="nombre"><b>Nombres:</b></label>
                        <input class="form-control me-5" type="text" id="nombres" name="nombre" required><br><br>
                    </div>
                    <div class="cont-lbl-input">
                        <label for="apellidos"><b>Apellidos:</b></label>
                        <input class="form-control me-5" type="text" id="apellidos" name="apellidos" required><br><br>
                    </div>
                    <div class="cont-lbl-input">
                        <label for="dni"><b>DNI:</b></label>
                        <input class="form-control me-5" type="number" id="dni" name="dni"  minlength="8" maxlength="8"   required><br><br>
                    </div>
                    <div class="cont-lbl-input">
                        <label for="telefono"><b>Telefono:</b></label>
                        <input class="form-control me-5" type="number" id="email" name="telefono" minlength="9" maxlength="9"   required><br><br>
                    </div>
                    <div class="cont-lbl-input">
                        <label for="email"><b>E-mail:</b></label>
                        <input class="form-control me-5" type="email" id="email" name="email"><br><br>
                    </div>
                    <div class="cont-lbl-input">
                        <label for="contraseña"><b>Contraseña:</b></label>
                        <input class="form-control me-5" type="password" id="contraseña" name="contraseña" minlength="5"  required><br><br>
                    </div>
                    <div id="contenedor-check" class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                        <label id="lbl-he-leido" class="form-check-label" for="exampleCheck1">He leído y acepto los términos y condiciones</label>
                    </div>
                    <button id="btn-registrarme-registro" type="submit" class="btn btn-primary">Registrarme</button>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}