#titulo-seccion-calzado{
    margin-left: 35px;
    font-weight: bold;
    margin-top: 20px; margin-bottom: 20px;
}

#titulo-productos-calzado{
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
}

/* Contenedor de todas las tarjetas */
#contenedor-cards {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 10px;
    row-gap: 60px;
    gap: 20px;
    flex-wrap: wrap;
}

/* Cada tarjeta individual */
.card {
    transition: all 500ms ease;
    width: 250px; /* Fija el ancho de las tarjetas */
    display: flex;
    flex-direction: column; /* Para que los elementos hijos se dispongan verticalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

/* Ajuste del contenedor de la tarjeta */
.espacio-card-1, .espacio-card-2 {
    padding: 20px;
}

.espacio-card-1 {
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #1d1d1b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Asegura que el espacio-card-2 llene todo el espacio disponible */
.espacio-card-2 {
    flex: 1; /* Permite que este elemento crezca para llenar el espacio disponible */
    display: flex;
    flex-direction: column; /* Asegura que el contenido se disponga verticalmente */
    padding-top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #ebebeb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 200px; 
    height: 150px;
}

.contenedor-contenido-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye los elementos uniformemente */
    padding: 16px;
}

/* Otros ajustes de estilo */
.contenedor-precio, .contenedor-descripcion-item {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 7px;
}

.contenedor-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.item {
    width: 100%;
    border-radius: 10px;
}

.contenedor-botones-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-botones-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-menos,.btn-mas,.btn-agregar-item{
    height: 28px;
}

.btn-menos,.btn-mas{
    display: flex;
    align-items: center;
    padding: auto;
    border: 1px solid white;
    width: 47px;
    background-color: #917c04;
}

.btn-menos>h6,.btn-mas>h6{
    color: white;
    margin: 0 auto;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}

.btn-mas{
    margin-right: auto;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-menos{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn-agregar-item{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 2px solid white;
    color: white;
    background-color: #917c04;
    width: 80px;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
}

.cantidad-item{
    margin: auto;
    background-color: black;
    width: 44px;
    height: 28px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.espacio-card-1,.espacio-card-2{
    padding: 20px;
}

.espacio-card-1{
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #1d1d1b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.espacio-card-2{
    padding-top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #ebebeb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.shrink {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}