<!DOCTYPE html>
<html lang="es">

<!---->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos-globales.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="img/logo_point_roo.png" type="image/x-icon">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/mostrar-menu-lateral.js"></script>
    <script src="js/jquery-3.7.1.min.js"></script>
    <title>Inicio</title>
</head>

<body>

    <!-- Cabecera (copiar todo para todas las páginas) -->

    <header id="contenedor-header" class="color-header">
        <a href="index.html"><img id="logo_tienda" src="img/logo_point_roo.png" alt="logo de point roo"></a>
        <button onclick="mostrarMenuLateral()" id="btn-menu">
            <img id="img-menu" src="img/menu.png" alt="">
        </button>
        <input id="barra-busqueda" class="form-control me-5" type="search" placeholder="Buscar productos..."
            aria-label="Search">
        <button onclick="abrirVentanaModalInicioDeSesion()" id="btn-iniciar-sesion" target="_blank">
            <img id="logo-inicio-sesion" src="img/logo-inicio-sesion.png" alt="inicio de sesion">
            <b>Iniciar Sesión</b>
        </button>
        <a id="contenedor-carrito" href="carrito_de_compras.html" target="_blank">
            <img id="carrito-de-compras" src="img/logo-carrito-de-compras.png" alt="">
        </a>
    </header>

    <div class="barra_separadora">

        <!------------------------- Cabecera-fin ------------------------->

    </div>

    <!------------------------  Main inicio -------------------------->
    <main style="margin-top: 12px;">
        <h1 id="titulo-bienvenido-point-roo"><b>Bienvenido a Point Roo</b></h1>
        <div id="carrusel-index" class="carousel slide" data-bs-ride="carousel">
            <div style="margin-bottom: 0px;" class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2500">
                    <img src="img/portada-point-roo.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2500">
                    <img src="img/portada_2.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </main>

    <!------------------------  Main fin -------------------------->

    <!-------------------------- Pie de página (copiar todo lo de abajo) ------------------>
    <div class="barra_separadora">
        <p></p>
    </div>

    <footer id="footer-general" class="color-footer">
        <div id="footer-parte-1">
            <div id="col-1">
                <h6 id="h6-contactanos" class="titulos-footer-columnas"><b>Contáctanos</b></h6>
                <h6 class="subt-col1">Whatsapp: +51 964 678 483</h6>
                <h6 class="subt-col1">Correo electrónico: roxanaorrillo@hotmail.com</h6>
                <a class="titulos-footer-columnas" href="acerca_de.html" target="_blank"><b>Acerca de Point Roo</b></a>
                <a class="titulos-footer-columnas" href="preguntas_frecuentes.html" target="_blank"><b>Preguntas
                        Frecuentes</b></a>
                <a class="titulos-footer-columnas" href="ubicanos.html" target="_blank"><b>Ubícanos</b></a>
            </div>
            <div id="col-2">
                <a id="enlace-libro-reclamaciones" href="libro_de_reclamaciones.html" target="_blank"><img
                        src="img/libro_de_ reclamaciones_logo.png" alt=""></a>
            </div>
            <div id="col-3">
                <h6 class="titulos-footer-columnas">Políticas y Términos</h6>
                <a href="#">Términos y Condiciones</a>
                <a href="#">Políticas de Privacidad</a>
                <a href="#">Políticas de Delivery</a>
                <a href="#">Cambios o Devoluciones</a>
            </div>
            <div id="col-4">
                <h6 id="h6-recibe-nuestras-ofertas" class="titulos-footer-columnas">Recibe nuestras ofertas y novedades
                </h6>
                <p>Ingresa tu e-mail:</p>
                <div id="contenedor-ingresa-tu-email">
                    <input class="form-control me-5" type="text" name="text-area-email" id="text-area-email">
                    <button id="btn-suscribirme-footer">Suscribirme</button>
                </div>
            </div>
        </div>
        <hr id="barra-footer">
        <div id="footer-parte-2">
            <div style="display: flex; align-items: center;" id="contenedor-siguenos-iconos">
                <h6>Síguenos:</h6>
                <a href="https://facebook.com/PointRoo" target="_blank"><img class="icono-footer-parte-2" src="img/facebook.png" alt="icono facebook"></a>
                <a href="https://www.instagram.com/pointroo27/" target="_blank"><img class="icono-footer-parte-2" src="img/instagram.png" alt="icono instagram"></a>
                <a href="https://www.tiktok.com/@pointroo27" target="_blank"><img class="icono-footer-parte-2" src="img/tik-tok.png" alt="icono tik tok"></a>
            </div>
            <div style="display: flex; align-items: center;" id="contenedor-medios-de-pago-iconos">
                <h6>Medios de pago:</h6>
                <img class="icono-medios-pago-parte-2" src="img/visa.png" alt="icono visa">
                <img class="icono-medios-pago-parte-2" src="img/yape.png" alt="icono yape">
                <img class="icono-medios-pago-parte-2" src="img/plin.png" alt="icono plin">
            </div>
        </div>
    </footer>
    <div id="contenedor-informacion-desarrolladores">
        <h6>Diseñado por: <b>Empresa Designs FY</b></h6>
        <h6 id="info-fecha-creacion">Fecha de creación: <b>05/12/2023</b></h6>
    </div>

    <!-- Menú de barra lateral: -->

    <div class="container-menu">
        <div class="categorias-titulo">
            <b>Categorías</b>
            <button onclick="mostrarMenuLateral()" class="button-x"><b>Cerrar X</b></button>
        </div>
        <div class="cont-menu">
            <nav>
                <a href="moda_hombre.html" target="_blank">Moda Hombre</a>
                <a href="moda_mujer.html" target="_blank">Moda Mujer</a>
                <a href="moda-niños.html" target="_blank">Moda Niños</a>
                <a href="calzado.html" target="_blank">Calzado</a>
            </nav>
        </div>
    </div>

    <!-- Ventana modal de inicio de sesión (copiar) -->
    <div id="ventana-modal-inicio-sesion">
        <div id="cont-img-titulo-inicio-sesion">
            <img id="img-inicio-sesion-ventana-modal" src="img/img-inicio-de-sesion-ventana-modal.png" alt="">
            <h4 id="titulo-iniciar-sesion"><b>Iniciar Sesión</b></h4>
        </div>
        <h6 id="subt-ingresa-con-tu-email-contraseña">Ingresa con tu e-mail y contraseña:</h6>
        <input class="form-control me-5" type="text" name="" placeholder="Correo electrónico..."
            id="input-nombre-usuario-inicio-sesion">
        <input class="form-control me-5" type="password" name="" placeholder="Contraseña..."
            id="input-contraseña-inicio-sesion">
        <button class="btns-ventana-modal-inicio-sesion" id="btn-olvide-mi-contraseña">Olvidé mi contraseña</button>
        <div id="cont-btnVolver--btnIngresar">
            <button onclick="cerrarVentanaModalInicioSesion()" class="btns-ventana-modal-inicio-sesion"
                id="btn-volver-inicio-sesion">
                < Volver</button>
                    <button class="btns-ventana-modal-inicio-sesion" id="btn-ingresar-inicio-sesion">Ingresar ></button>
        </div>
        <div id="cont-noTienesCuenta-registrate">
            <h6 id="lbl-no-tienes-cuenta">¿No tienes una cuenta?</h6>
            <button class="btns-ventana-modal-inicio-sesion"
                onclick="abrirPaginaRegistroDeUsuario()">Regístrate</button>
        </div>
    </div>
    <!------------------------------------------------------>
</body>

</html>