{% extends 'maestra.html' %}
{% block titulo %} Modificar Provincia {% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="mb-4 mt-4">Modificar Provincia</h3>
                <form action="{{ url_for('actualizar_provincia') }}" method="post">
                    <input type="hidden" name="id" value="{{ provincia[0] }}">
                    <div class="mb-3">
                        <label for="provincia" class="mb-3">Provincia:</label>
                        <input required type="text" class="form-control" placeholder="provincia" name="provincia" id="provincia" value="{{ provincia[1] }}">    
                        <label for="departamento" class="form-label">Departamento:</label>
                        <input required type="number" class="form-control" placeholder="departamento" name="departamento" id="departamento" value="{{ provincia[2] }}">
                    </div>
                    <hr>
                    <div class="text-end">
                        <a href="{{ url_for('provincia') }}" class="btn btn-danger mt-2">Volver</a>
                        <button type="submit" class="btn btn-primary mt-2">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
