<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio sesion admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <div class="col-3 mx-auto border border-black" style="margin-top: 120px;">
        <form action="/validarusuario" class="form p-4" method="post">
            <label for="usuario" class="form-label">Usuario:</label>
            <input type="text" class="form-control" name="usuario" id="usuario" required>
            <label for="" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" name="password" id="password" required>
            <input class="mt-3" type="checkbox" onchange="mostrar()">Mostrar contraseña
            <br>
            <button type="submit" class="btn btn-primary w-100 mt-3"  >Iniciar Sesión</button>
        </form>
    </div>
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div id="alerta" class="alert alert-danger text-center position-fixed bottom-0 end-0" style="width: 250px;">
        {{ message }}
    </div>
    {% endfor %}

    <script>
        function mostrar(){
            password = document.getElementsByName('password')[0];
            if (password.type == "password" ){
                password.type = "text";
            }else{
                password.type = "password";
            }
        }

        setTimeout(function() {
            var alerta = document.getElementById('alerta');
            alerta.classList.remove('animate__fadeInUp'); // Quita la clase de animación de entrada
            alerta.classList.add('animate__fadeOutDown'); // Agrega la clase de animación de salida
            setTimeout(function() {
                alerta.remove();
            }, 2000); // Espera 2 segundos antes de eliminar la alerta después de que termine la animación
        }, 2000);
        
    </script>
</body>
</html>
